body {
    background-image: url("../images/hypnotize.png");
    background: cover;
}

.gamebody {
    background-color: yellow;
    padding-bottom: 20px;
    max-width: 90%;
    margin: auto;
    text-align: center;
}